{% extends 'base.html.twig' %}

{% block title %}Students list
{% endblock %}
{% block body %}

	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Students</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('home') }}">Home</a>
						</li>
						<li class="breadcrumb-item active">Students</li>
					</ol>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}
		<!-- Default box -->
		<div class="card card-info">
			<div class="card-body pb-0">
				<div class="tab-content" id="custom-tabs-one-tabContent">
					<div class="tab-pane fade active show" id="custom-tabs-one-0" role="tabpanel" aria-labelledby="custom-tabs-one-0-tab">
						<p>Total Number of Active Students:
							{{ students|length }}</p>
						<table class="table table-striped projects">
							<thead>
								<tr>
									<th style="width: 5%">
										#
									</th>
									<th>
										Student Name
									</th>
									<th>
										Parent
									</th>
									<th>
										Country
									</th>
									<th>
										Email
									</th>
									<th>
										Gender
									</th>
									<th>
										Courses
									</th>
									<th>
										History
									</th>
									<th>
										Teacher
									</th>																		
								</tr>
							</thead>
							<tbody>
								{% for student in students %}
									<tr>
										<td>
											#
											{{ student.id }}
										</td>
										<td>
											{{ student.name }}
										</td>
										<td>
											<a href="{{ path('support.family.view', {id :student.family.id}) }}">
												{{ student.family.name }}
											</a>
										</td>
										<td>
											{{ student.family.country.isoCode }}
										</td>
										<td>
											{{ student.email }}
										</td>
										<td> 
											{{ student.gender }}
										</td>
										<td>
											<ul style="padding: 0">
												{% for course in student.course %}
													<li>{{ course.name }}</li>
												{% endfor %}
											</ul>
										</td>
										<td>
											Daily Progress
										</td>
										<td>
											<a href="{{ path('support.teacher.schedule', {id :student.teacher.id}) }}">
												{{ student.teacher.name }}
											</a>
										</td>										
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->

			</section>
			<!-- /.content -->
		{% endblock %}
