{% extends 'base.html.twig' %}

{% block title %}Students list{% endblock %}
{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Students</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                        <li class="breadcrumb-item active">Students</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Total Number of Active Students: {{ count }}</h3>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                    <tr>
                        <th style="width: 5%">
                            #
                        </th>
                        <th>
                            Student Name
                        </th>
                        <th>
                            Parent
                        </th>
                        <th>
                            Country
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Gender
                        </th>
                        <th>
                            Teacher
                        </th>
                        <th style="width: 30%"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for student in students %}
                        <tr>
                            <td>
                                # {{ student.id }}
                            </td>
                            <td>
                                <a href="{{ path('admin.student.edit', {'id': student.id}) }}">
                                     {{ student.name }}
                                </a>
                            </td>
                            <td>
                                {{ student.family.name }}
                            </td>
                            <td>
                                {{ student.country.iso_code }}
                            </td>
                            <td>
                                {{ student.email }}
                            </td>
                            <td>
                                {{ student.gender }}
                            </td>
                            <td>
                                {{ student.employee.name }}
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-info btn-sm" href="{{ path('admin.student.view', {'id': student.id}) }}">
                                    <i class="fas fa-street-view">
                                    </i>
                                    View
                                </a>
                                <a class="btn btn-info btn-sm" href="{{ path('admin.student.edit', {'id': student.id}) }}">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit profile
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="card-footer clearfix">
                {{ knp_pagination_render(students) }}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
{% endblock %}