{% extends 'base.html.twig' %}

{% block title %}Family profile{% endblock %}
{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>familys</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                        <li class="breadcrumb-item active">Families</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <h3 class="profile-username text-center">{{ family.name }}</h3>
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Invoice Details</b>
                                </li>
                                <li class="list-group-item">
                                    <b>List Of Students</b>
                                </li>
                                <li class="list-group-item">
                                    <b>Add New Student</b>
                                </li>
                                <li class="list-group-item">
                                    <b>Instant Invoice</b>
                                </li>
                                <li class="list-group-item">
                                    <a href="{{ path('admin.family.edit', {'id': family.id}) }}">Edit Profile</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Add Invoice</b>
                                </li>
                                <li class="list-group-item">
                                    <b>Suspend Classes</b>
                                </li>
                            </ul>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="activity">
                                    <!-- Post -->
                                    <div class="post">
                                        <div class="user-block">
                                            <span class="username">
                                              <a href="#">Personal Bio Date</a>
                                            </span>
                                        </div>
                                        <ul class="list-inline">
                                            <li>
                                                Name: <font color="#44B6AE">
                                                    <b>{{ family.name }}</b></font>
                                            </li>
                                            <li>
                                                Email: <font color="#44B6AE">
                                                    <b>{{ family.email }}</b></font>
                                            </li>
                                        </ul>
                                        <ul class="list-inline">
                                            <li>
                                                Telephone: <font color="#44B6AE">
                                                    <b>{{ family.studentBank }}</b></font>
                                            </li>
                                            <li>
                                                Student Bank: <font color="#44B6AE">
                                                    <b>{{ family.telephone }}</b></font>
                                            </li>
                                            <li>
                                                Admin Bank: <font color="#44B6AE">
                                                    <b>{{ family.bank }}</b></font>
                                            </li>
                                        </ul>
                                        <ul class="list-inline">
                                            <li>
                                                Mobile: <font color="#44B6AE">
                                                    <b>{{ family.mobile }}</b></font>
                                            </li>
                                            <li>
                                                Zoom: <font color="#44B6AE">
                                                    <b>{{ family.zoom }}</b></font>
                                            </li>
                                            <li>
                                                Skype: <font color="#44B6AE"> <b>{{ family.skype }}</b></font>
                                            </li>
                                        </ul>
                                        <ul class="list-inline">
                                            <li>
                                                Hours: <font color="#44B6AE">
                                                    <b>*******</b></font>
                                            </li>
                                            <li>
                                                Fee: <font color="#44B6AE">
                                                    <b>***** / {{ family.currency.code }}</b></font>
                                            </li>
                                        </ul>
                                        <ul class="list-inline">
                                            <li>
                                                Country: <font color="#44B6AE">
                                                    <b>{{ family.country.name }}</b></font>
                                            </li>
                                            <li>
                                                City: <font color="#44B6AE">
                                                    <b>{{ family.city }}</b></font>
                                            </li>
                                            <li>
                                                City: <font color="#44B6AE">
                                                    <b>{{ family.timezone.name }}</b></font>
                                            </li>
                                        </ul>
                                        <ul class="list-inline">
                                            <li>
                                                Username: <font color="#44B6AE">
                                                    <b>{{ family.username }}</b></font>
                                            </li>
                                            <li>
                                                Password: <font color="#44B6AE">
                                                    <b>{{ family.password }}</b></font>
                                            </li>
                                        </ul>
                                        <!-- /.user-block -->
                                    </div>
                                    <!-- /.post -->

                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>    <!-- Main content -->

    <!-- /.content -->
{% endblock %}