    <!-- DEACTIVATION NOTE -->
    <div class="modal fade" id="deactivation">
        <div class="modal-dialog modal-lg">
            <form method="post" action="{{ path('admin.family.deactive', {id: family.id}) }}">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <h4 class="modal-title">Add Note About Deactivation of {{ family.name }}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Why are you deactivating {{ family.name }} ?</p>
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-4"><strong>Parent Name</strong></label>
                                <div class="col-8">
                                    <input type="text" placeholder="{{ family.name }}" name="parent_name"
                                           id="parent_name" class="form-control input-circle" readonly/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-4 control-label">
                                    <strong>Your Comments</strong>
                                </label>
                                <div class="col-12">
                                            <textarea class="form-control input-circle" cols="10" required
                                                      placeholder="Enter Your Comments" name="comment"
                                                      id="comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>

    <!-- MAKE ON HOLIDAY -->
    <div class="modal fade" id="leave">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header bg-info">
                        <h4 class="modal-title">Enter Date When Will {{ family.name }} Return For Classes</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-4 control-label">
                                    <strong>Add date for {{ family.name }}</strong>
                                </label>                        
                                <div class="col-8">
                                    <input type="date" name="date" id="date" class="form-control input-circle" required pattern="\d{4}-\d{2}-\d{2}">
                                </div>
                            </div>
                            <input type="hidden" value="{{ family.id }}" name="parent_id" id="parent_id"
                                class="form-control input-circle"></input>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- Change Trial Date -->
    <div class="modal fade" id="trial">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header bg-danger">
                        <h4 class="modal-title">Change in trial date of {{ family.name }}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>date for {{ family.name }}</p>
                        <div class="form-body">
                            <div class="form-group">
                                <div class="col-8">
                                    <input type="date" name="date" id="date" class="form-control input-circle" required pattern="\d{4}-\d{2}-\d{2}">
                                </div>
                            </div>
                            <input type="hidden" value="{{ family.id }}" name="family_id" id="family_id"
                                class="form-control input-circle"></input>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>  

    <!-- Add Note -->
    <div class="modal fade" id="add-note">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post" action="{{ path('admin.family.addnote', {id: family.id}) }}">
                    <div class="modal-header bg-danger">
                        <h4 class="modal-title">Add Note for {{ family.name }}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">                    
                            <div class="form-group">
                                <label class="col-4 control-label">
                                    <strong>Add Note for {{ family.name }}</strong>
                                </label>                         
                                <div class="col-8">
                                    <input type="text" class="form-control" value="{{ family.name }}" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-4 control-label">
                                    <strong>Description</strong>
                                </label>                        
                                <div class="col-12">
                                    <textarea class="form-control input-circle" cols="10" 
                                            placeholder="Enter Your Comments" required name="comment"
                                            id="comment"></textarea>
                                </div>
                            </div>                         
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>  

    <!-- Add Task -->
    <div class="modal fade" id="add-task">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post" action="{{ path('admin.family.addtask', {id: family.id}) }}">
                    <div class="modal-header bg-primary">
                        <h4 class="modal-title">Change in trial date of {{ family.name }}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-body">                        
                            <div class="form-group">
                                <label class="col-4 control-label">
                                    <strong>Employee Category</strong>
                                </label>                        
                                <div class="col-8">
                                    <select class="form-control" id="employee-category" required>
                                        <option value="" default>-- Select an employee category --</option>
                                        {% for categorie in employee_categories %}
                                            <option value="{{ categorie.id }}">{{ categorie.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-4 control-label">
                                    <strong>To </strong>
                                </label>  
                                <div class="col-8">
                                    <select class="form-control" name="employees" id="employees" required>
                                        <option value="">-- Employess --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-4 control-label">
                                    <strong>Your Comments</strong>
                                </label>                        
                                <div class="col-12">
                                    <textarea class="form-control input-circle" cols="10" required
                                            placeholder="Enter Your Comments" name="comment"
                                            id="comment"></textarea>
                                </div>
                            </div>                        
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>          