{% extends 'base.html.twig' %}

{% block title %}Employee profile{% endblock %}
{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Employees</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                        <li class="breadcrumb-item active">Employees</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                {% if employee.avatar %}
                                    <img class="profile-user-img img-fluid img-circle"
                                         src="{{ vich_uploader_asset(employee, 'avatarFile' ) }}" alt="{{ employee.name }}"/>

                                {% else %}
                                    <img class="profile-user-img img-fluid img-circle"
                                         src="{{ asset('images/profile-img.png') }}" alt="{{ employee.name }}">
                                {% endif %}
                            </div>

                            <h3 class="profile-username text-center">{{ employee.name }}</h3>

                            <p class="text-muted text-center">{{ employee.category.name }}</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    {{ form_start(form) }}
                                    {{ form_widget(form) }}
                                    <button type="submit" class="btn btn-primary btn-block">Change Profile Picture
                                    </button>
                                    {{ form_end(form) }}
                                </li>
                                <li class="list-group-item">
                                    <a href="{{ path('admin.employee.edit', {'id': employee.id}) }}">Edit Profile</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Upload Docs</b>
                                </li>
                                <li class="list-group-item">
                                    <b>Student Details</b>
                                </li>
                                <li class="list-group-item">
                                    <b>Salary Record</b>
                                </li>
                                <li class="list-group-item">
                                    <b>Schedule</b>
                                </li>
                                <li class="list-group-item">
                                    <b>Salary Adjustment</b>
                                </li>
                                <li class="list-group-item">
                                    {% if employee.active == 1 %}
                                        <a href="{{ path('admin.employee.status', {'id': employee.id}) }}"
                                           class="btn btn-danger btn-block"><b>Deactivate Account</b></a>
                                    {% else %}
                                        <a href="{{ path('admin.employee.status', {'id': employee.id}) }}"
                                           class="btn btn-success btn-block"><b>Activate Account</b></a>
                                    {% endif %}
                                </li>
                            </ul>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="activity">
                                    <!-- Post -->
                                    <div class="post">
                                        <div class="user-block">
                                            <span class="username">
                                              <a href="#">Personal Bio Date</a>
                                            </span>
                                        </div>
                                        <ul class="list-inline">
                                            <li>
                                                Gender: <font color="#44B6AE"> <b>{{ employee.gender }}</b></font>
                                            </li>
                                            <li>
                                                Status: <font color="#44B6AE">
                                                    <b>{{ employee.maritalStatus }}</b></font>
                                            </li>
                                            <li>
                                                Father Name: <font color="#44B6AE">
                                                    <b>{{ employee.fatherName }}</b></font>
                                            </li>
                                            <li>
                                                Nationality: <font color="#44B6AE">
                                                    <b>{{ employee.nationality }}</b></font>
                                            </li>
                                            <li>
                                                Occupation: <font color="#44B6AE">
                                                    <b>{{ employee.category.name }}</b></font>
                                            </li>
                                        </ul>
                                        <ul class="list-inline">
                                            <li>
                                                Institute Email: <font color="#44B6AE">
                                                    <b>{{ employee.instituteEmail }}</b></font>
                                            </li>
                                            <li>
                                                Personal Email: <font color="#44B6AE">
                                                    <b>dinaessam22@gmail.com</b></font>
                                            </li>
                                            <li>
                                                Phone: <font color="#44B6AE"> <b>{{ employee.telephone }}</b></font>
                                            </li>
                                            <li>
                                                Mobile: <font color="#44B6AE"> <b>{{ employee.mobile }}</b></font>
                                            </li>

                                        </ul>
                                        <ul class="list-inline">
                                            <li>
                                                Ijaazah In: <font color="#44B6AE"> <b>{{ employee.ijaazah }}</b></font>
                                            </li>
                                            <li>
                                                Qualification: <font color="#44B6AE">
                                                    <b>{{ employee.qualification }}</b></font>
                                            </li>
                                            <li>
                                                Experience: <font color="#44B6AE">
                                                    <b>{{ employee.experience }}</b></font>
                                            </li>
                                            <li>
                                                Memorization: <font color="#44B6AE"> <b>{{ employee.memorization }}</b></font>
                                            </li>
                                        </ul>
                                        <!-- /.user-block -->
                                    </div>
                                    <!-- /.post -->

                                    <!-- Post -->
                                    <div class="post clearfix">
                                        <div class="user-block">
                                            <span class="username">
                                              <a href="#">Official Details</a>
                                            </span>
                                        </div>
                                        <ul class="list-inline">
                                            <li>
                                                Job: <font color="#44B6AE"> <b></b></font>
                                            </li>
                                            <li>
                                                Skype: <font color="#44B6AE"> <b>{{ employee.skype }}</b></font>
                                            </li>
                                            <li>
                                                Zoom-Link: <font color="#44B6AE">
                                                    <b>{{ employee.zoom }}</b></font>
                                            </li>
                                            <li>
                                                Group ID: <font color="#44B6AE">
                                                    <b>{{ employee.whatsupGroup }}</b></font>
                                            </li>
                                        </ul>
                                        <ul class="list-inline">
                                            <li>
                                                Salary: <font color="#44B6AE">
                                                    <b>{{ employee.salaryPackage.salary }}</b></font>
                                            </li>
                                            <li>
                                                Username: <font color="#44B6AE"> <b>{{ employee.username }}</b></font>
                                            </li>
                                        </ul>
                                        <ul class="list-inline">
                                            <li>
                                                Timezone: <font color="#44B6AE">
                                                    <b>{{ employee.accountTitle }}</b></font>
                                            </li>
                                            <li>
                                                Difference: <font color="#44B6AE"> <b></b></font>
                                            </li>
                                            <li>
                                                Date of Birth: <font color="#44B6AE">
                                                    <b>{{ employee.birthday.format('Y-m-d') }}</b></font>
                                            </li>
                                            <li>
                                                Date of Joining: <font color="#44B6AE">
                                                    <b>{{ employee.joiningAt.format('Y-m-d') }}</b></font>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.post -->

                                    <!-- Post -->
                                    <div class="post clearfix">
                                        <div class="user-block">
                                            <span class="username">
                                              <a href="#">Edit Rights</a>
                                            </span>
                                        </div>
                                        <ul class="list-inline">
                                            <li>
                                                <a href="csr_rights?a_id=1&amp;link=/member-area/admin/teacher-accounts-profile?profile_no=MQ==&amp;sts=2">
                                                    <button type="button" class="btn green btn-xs">HR Rights
                                                    </button>
                                                </a></li>
                                            <li>
                                                <a href="teacher_rights?a_id=1&amp;link=/member-area/admin/teacher-accounts-profile?profile_no=MQ==&amp;sts=2">
                                                    <button type="button" class="btn green btn-xs">Teaching Rights
                                                    </button>
                                                </a></li>
                                            <li>
                                                <a href="manager_rights?a_id=1&amp;link=/member-area/admin/teacher-accounts-profile?profile_no=MQ==&amp;sts=2">
                                                    <button type="button" class="btn green btn-xs">Support Rights
                                                    </button>
                                                </a></li>
                                            <li>
                                                <a href="s_manager_rights?a_id=1&amp;link=/member-area/admin/teacher-accounts-profile?profile_no=MQ==&amp;sts=2">
                                                    <button type="button" class="btn green btn-xs">Quality Control
                                                        Rights
                                                    </button>
                                                </a></li>
                                        </ul>
                                    </div>
                                    <!-- /.post -->

                                    <!-- Post -->
                                    <div class="post clearfix">
                                        <div class="user-block">
                                            <span class="username">
                                              <a href="#">Time Allocation</a>
                                            </span>
                                        </div>
                                        <ul class="list-inline">
                                            <li>
                                                1st Time Allocation: <font color="#44B6AE">
                                                    <b>{{ employee.startTime1.name }}to {{ employee.endTime1.name }}</b></font>
                                            </li>
                                            <li>
                                                2nd Time Allocation: <font color="#44B6AE">
                                                    <b>{{ employee.startTime2.name }}to {{ employee.endTime2.name }}</b></font>
                                            </li>
                                            <li>
                                                3rd Time Allocation: <font color="#44B6AE">
                                                    <b>{{ employee.startTime3.name }}to {{ employee.endTime3.name }}</b></font>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.post -->

                                    <!-- Post -->
                                    <div class="post clearfix">
                                        <div class="user-block">
                                            <span class="username">
                                              <a href="#">Salary Details</a>
                                            </span>
                                        </div>
                                        <ul class="list-inline">
                                            <li>
                                                Account Title: <font color="#44B6AE"> <b>{{ employee.accountTitle }}</b></font>
                                            </li>
                                            <li>
                                                Residence ALW: <font color="#44B6AE"> <b>0</b></font>
                                            </li>
                                            <li>
                                                Tax: <font color="#44B6AE"> <b>0</b></font>
                                            </li>
                                            <li>
                                                EOBI: <font color="#44B6AE"> <b>{{ employee.eobi }}</b></font>
                                            </li>
                                        </ul>
                                        <ul class="list-inline">
                                            <li>
                                                Monthly Salary Fixed: <font color="#44B6AE"> <b>0</b></font>
                                            </li>
                                        </ul>
                                        <ul class="list-inline">
                                            <li>
                                                Medical ALW: <font color="#44B6AE"> <b>{{ employee.medical }}</b></font>
                                            </li>
                                            <li>
                                                Entertainment ALW: <font color="#44B6AE">
                                                    <b>{{ employee.entertainment }}</b></font>
                                            </li>
                                            <li>
                                                Misc. ALW: <font color="#44B6AE"> <b>{{ employee.misc }}</b></font>
                                            </li>
                                        </ul>
                                        <ul class="list-inline">
                                            <li>
                                                Bank: <font color="#44B6AE"> <b>{{ employee.bank }}</b></font>
                                            </li>
                                            <li>
                                                Branch: <font color="#44B6AE"> <b>{{ employee.branch }}</b></font>
                                            </li>
                                            <li>
                                                A/C No.: <font color="#44B6AE"> <b>{{ employee.accountNo }}</b></font>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.post -->
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>    <!-- Main content -->

    <!-- /.content -->
{% endblock %}