{% extends 'base.html.twig' %}

{% block title %}New Requests{% endblock %}
{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}    
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>New Requests</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
                        <li class="breadcrumb-item active">Requests</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content requests">
        <div class="container-fluid">
            <div class="card card-default">
                <div class="card-body">
                    <div class="col-12">
                        <a href="{{ path( 'admin.requests.index') }}" class="btn btn-primary">Active ({{ count_active }})</a>
                        <a href="{{ path( 'admin.requests.index') }}?status=responded" class="btn btn-danger">Responded ({{ count_responsed }})</a>
                        <a href="{{ path( 'admin.requests.index') }}?status=allocated" class="btn btn-success">Allocated ({{ count_allocated }})</a>
                        <a href="{{ path( 'admin.requests.index') }}?status=later" class="btn btn-secondary">Later ({{ count_later }})</a>
                        <a href="{{ path( 'admin.requests.index') }}?status=teaching" class="btn btn-light">Teaching Requests ({{ count_teaching }})</a>
                        <a href="{{ path( 'admin.requests.index') }}?status=archive" class="btn btn-warning">Archives ({{ count_archive }})</a>
                    </div>
                    <div class="row">
                        <div class="timeline">
                            {% for request in requests %}
                                <!-- timeline time label -->
                                <div class="time-label">
                                    <span class="bg-red">{{ request.createdAt|date("Y-m-d") }}</span> 
                                    <span class="time">
                                        <i class="fas fa-clock"></i> {{ request.time|date("H:i") }}
                                    </span>                                    
                                </div>
                                <!-- /.timeline-label -->
                                <!-- timeline item -->
                                <div>
                                    <i class="fas fa-envelope bg-blue"></i>
                                    <div class="timeline-item">
                                        <div class="time">
                                            <div class="btn-group">
                                                <button class="btn btn-circle green-haze btn-sm dropdown-toggle btn-success" type="button" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                Actions
                                                </button>
                                                <ul class="dropdown-menu pull-right" role="menu">
                                                    <li>
                                                        <a class="note-modal btn" data-toggle="modal" href="#note" data-request="{{request.id}}" data-name="{{request.name}}">Add Note</a>
                                                    </li>
                                                    <li>
                                                        <a class="btn" href="{{ path('admin.request.sendemail', {id: request.id}) }}">Send Email </a>
                                                    </li>
                                                    <li>
                                                        <a class="btn" href="{{ path('admin.request.account', {id: request.id}) }}">Create Account </a>
                                                    </li>
                                                    <li>
                                                        <form method="post" action="{{ path('admin.request.status', {id: request.id}) }}" style="display: inline-block" onsubmit="return confirm('Are you sur to change this request status ?')">
                                                            <input type="hidden" name="_method" value="Update">
                                                            <input type="hidden" name="status" value="teaching">
                                                            <input type="hidden" name="token" value="{{ csrf_token('status') }}">
                                                            <button class="btn btn-sm">
                                                                Teaching
                                                            </button>
                                                        </form>   
                                                    </li>
                                                    <li>
                                                        <form method="post" action="{{ path('admin.request.status', {id: request.id}) }}" style="display: inline-block" onsubmit="return confirm('Are you sure to change archive this request ?')">
                                                            <input type="hidden" name="_method" value="Update">
                                                            <input type="hidden" name="status" value="archive">
                                                            <input type="hidden" name="token" value="{{ csrf_token('status') }}">
                                                            <button class="btn btn-sm">
                                                                Archive
                                                            </button>
                                                        </form>                                                        
                                                    </li>
                                                    <li>
                                                        <form method="post" action="{{ path('admin.request.status', {id: request.id}) }}" style="display: inline-block" onsubmit="return confirm('Are you sure to change status to Later ?')">
                                                            <input type="hidden" name="_method" value="Update">
                                                            <input type="hidden" name="status" value="later">
                                                            <input type="hidden" name="token" value="{{ csrf_token('status') }}">
                                                            <button class="btn btn-sm">
                                                                Later
                                                            </button>
                                                        </form>                                                       
                                                    </li>
                                                    <li>
                                                        <form method="post" action="{{ path('admin.request.delete', {id: request.id}) }}" style="display: inline-block" onsubmit="return confirm('Are you sure to delete ?')">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="token" value="{{ csrf_token('delete') }}">
                                                            <button class="btn btn-sm">
                                                                Delete
                                                            </button>
                                                        </form>                                                        
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h3 class="timeline-header">
                                            {% if request.parent %}
                                                <a href="{{ path('admin.family.view', {'id': request.parent.id }) }} ">
                                                    {{ request.name }}
                                                </a>
                                            {% else %}
                                                <a href="#">
                                                    {{ request.name }}
                                                </a>                                            
                                            {% endif %}
                                            sent you an email</h3>
                                        <div class="timeline-body">
                                            <div id="mytable" class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>
                                                            Email
                                                        </th>
                                                        <th>
                                                            Phone
                                                        </th>
                                                        <th>
                                                            Country
                                                        </th>
                                                        <th>
                                                            City
                                                        </th>
                                                        <th>
                                                            Find Us
                                                        </th>
                                                        <th>
                                                            Newsletter
                                                        </th>
                                                        <th>
                                                            Number
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr bgcolor="">
                                                            <td>
                                                                {{ request.email }}
                                                            </td>
                                                            <td>
                                                                {{ request.phone }}
                                                            </td>
                                                            <td>
                                                                {{ request.country }}
                                                            </td>
                                                            <td>
                                                                {{ request.city }}
                                                            </td>
                                                            <td>
                                                                {{ request.origin }}
                                                            </td>
                                                            <td>
                                                                {{ request.newsletter }}
                                                            </td>
                                                            <td>
                                                                N-A
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>Subject:</strong>
                                                            </td>
                                                            <td colspan="6">
                                                                {{ request.subject }}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <strong>Message:</strong>
                                                            </td>
                                                            <td colspan="6">
                                                                {{ request.message }}
                                                            </td>
                                                        </tr>
							                            {% if request.origin == 'Evaluation' %}
                                                            {% for i in 1..4 %}
                                                                <tr>
                                                                    <td colspan="7">
                                                                    <strong>Student 0{{ i }}:</strong>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        {% set student_name = "studentName" ~ i %}
                                                                        {{ attribute(request, student_name) }}                                                                    
                                                                    </td>                                                                    
                                                                    <td>
                                                                        {% set student_gender = "studentGender" ~ i %}
                                                                        {{ attribute(request, student_gender) }}                                                                    
                                                                    </td>                                                                    
                                                                    <td>
                                                                        {% set student_age = "studentAge" ~ i %}
                                                                        {{ attribute(request, student_age) }}                                                                    
                                                                    </td>                                                                    
                                                                </tr>                                                                                                                                
                                                            {% endfor %}                                                         
                                                        {% endif %}



                                                        <tr>
                                                            <td colspan="7">
                                                                {% if request.sent == 0 %} 
                                                                    <span class="label label-sm label-warning" title="Email Status"><i class="fa fa-envelope"></i> Not Sent</span>
                                                                {% else %}    
                                                                    <span class="label label-sm label-primary" title="Email Status"><i class="fa fa-envelope"></i> Sent</span>
                                                                {% endif %}                                                                    
                                                                <a class="notes-detail" href="#" data-request="{{ request.id }}" data-name="{{ request.name }}">
                                                                    <span class="label label-sm label-success" title="Note Details">
                                                                        <i class="fa fa-comments"> {{ request.RequestNotes | length }}</i>
                                                                    </span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END timeline item -->
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-footer clearfix">
                        {{ knp_pagination_render(requests) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->

    <!-- Add Note Modal Form -->
    <div class="modal fade" id="note">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h4 class="modal-title">Add note</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">                
                    <div class="form-body">
                        <form id="requestNoteForm" name="requestNoteForm" role="form">
                            <div class="form-group">
                                <div class="col-4">
                                    <label for="note">Request Name</label>
                                </div>                                                
                                <div class="col-8">
                                    <input type="text" name="name" id="name" readOnly class="form-control input-circle" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-4">
                                    <label for="note">Write Note <span class="required"></span></label>
                                </div>
                                <div class="col-8">
                                    <textarea class="request-note form-control" name="note" required></textarea>
                                </div>
                            </div>                        
                            <input type="hidden" value="" name="request_id" id="request_id"/>
                        </form>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="submit-request-note" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>    


    <!-- Add Note Modal Form -->
    <div class="modal fade" id="notes-list">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h4 class="modal-title">Request notes</h4>
                    <h5 id="request-name"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">                
                    <table class="table table-striped" id="notesTable">
                        <thead class="thead-dark">
                            <tr>                    
                                <th>Comment</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>      
    <script>
        let addNoteUrl = '{{ path('admin.request.note') }}';
        let notesListUrl = '{{ path('admin.request.noteslist') }}';
    </script>    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/request.js"></script>
{% endblock %}